html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: black;

    width: 100%;
    height: 100%;

    color: wheat;
    font-family: Perun, sans-serif;

    font-size: clamp(16px, 5vw, 5vh);
}

@font-face {
    font-family: "Perun";
    src: local("Perun"),
    url(./fonts/Perun.ttf) format("truetype");
}


